<div data-controller="parlament" data-parlament-presence-value="<%= ParlamentState.instance.presence? %>">
  <div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-1" data-parlament-target="heading">Unknown</h1>
      <p class="lead" data-parlament-target="subtext">...</p>
    </div>
  </div>
</div>