services:
  db:
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
  redis:
    image: 'redis:7-alpine'
    command: redis-server --appendonly no --save 900 1 --save 300 10 --save 60 10000
    volumes:
      - redis-data:/data
  app:
    image: '${APP_IMAGE}'
    restart: always
    ports:
      - "127.0.0.1:3000:3000"
    env_file: .env
    environment:
      RAILS_SERVE_STATIC_FILES: 1
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - redis
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/up" ]
      interval: 5m
      timeout: 5s
      retries: 3
    command: start
volumes:
  redis-data:
  postgres-data:
