name: Docker Build, Test and Push

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and test Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          tags: luk4s/parlament:test

      - name: Run tests
        run: docker run --rm -e RAILS_ENV=test -e RAILS_MASTER_KEY=${{ secrets.RAILS_MASTER_KEY }} luk4s/parlament:test bundle exec rspec

      - name: Read .version
        id: vars
        run: echo "version=$(cat .version)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          target: production
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.version }}
            ghcr.io/${{ github.repository }}:latest